<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RecipesMapper">

<insert id="insertToRecipes"
    parameterType="com.example.demo.entity.Recipes">

    INSERT INTO recipes(
        title,
        eggs,
        ingredients,
        description,
        image_url,
        user_id,
        access_count,
        category
    )
    VALUES(
        #{title},
        #{eggs},
        #{ingredients},
        #{description},
        #{imageUrl},
        #{userId},
        0,
        #{category}
    )

</insert>

	<select id="selectAll"
		resultType="com.example.demo.entity.Recipes">
		SELECT * FROM recipes
	</select>

	<select id="selectById"
		resultType="com.example.demo.entity.Recipes">
		SELECT * FROM recipes WHERE id = #{id}
	</select>

	<select id="selectRanking"
		resultType="com.example.demo.entity.Recipes">
		SELECT * FROM recipes ORDER BY access_count DESC LIMIT 10
	</select>


	<select id="searchByTitle"
		resultType="com.example.demo.entity.Recipes">
		SELECT * FROM recipes WHERE title LIKE #{keyword}
	</select>

	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM recipes WHERE id = #{id}
	</delete>

	<update id="update"
        parameterType="com.example.demo.entity.Recipes">

    UPDATE recipes
    SET
        title = #{title},
        eggs = #{eggs},
        ingredients = #{ingredients},
        description = #{description},
        image_url = #{imageUrl},
        category = #{category}
    WHERE id = #{id}

</update>

	<update id="incrementAccessCount">
		UPDATE recipes SET access_count = access_count + 1 WHERE id = #{id}
	</update>
	
	
     
     <update id="incrementViewCount" parameterType="com.example.demo.entity.Recipes">
     UPDATE recipes
     SET access_count = access_count +1
     WHERE id = #{id}
     </update><select id="searchByKeywordAndCategory" resultType="com.example.demo.entity.Recipes">
    SELECT * FROM recipes
    <where>
        <if test="keyword != null and keyword != ''">
            title LIKE #{keyword}
        </if>
        <if test="category != null and category != ''">
            AND category = #{category}
        </if>
    </where>
</select>
<select id="findByCategoryOrderByAccessCountDesc"
        parameterType="String"
        resultType="com.example.demo.entity.Recipes">

    SELECT *
    FROM recipes
    WHERE category = #{category}
    ORDER BY access_count DESC

</select>
</mapper>